@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.siteContainer {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.8rem;
    align-items: center;
}

/* for header stats on homepage */
@media (min-width: 845px) {
    .stats {
        display: flex;
    }
}

/* for footer globally */
@media (min-width: 990px) {
    .footerWrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: left;
    }
}

/* for footer globally */
@media (min-width: 990px) {
    .footerLinks {
        margin-right: 7rem;
        margin-bottom: 0;
    }
}

/* for footer globally */
@media (min-width: 990px) {
    .bottomText {
        text-align: left;
        display: flex;
        margin-right: 2rem;
    }
}